@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
    --bg-color: rgb(51, 51, 51);
    --bg-color1: black;
    --primarycolor: #FFC515;
    --text-color: #858585;
    --text-color1: #FFFFFF;
    --font1: "Nunito", serif;
    --font2: "Heebo", serif;
    --font3: "EB Garamond", serif;
    --font4: "DM Sans", serif;
    --bg-color-2: #D9D9D999;
}


#Admin-login{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #Admin-login-1{
    margin-top: 20px;
    border-radius: 2px;
    padding: 20px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
  
  
  #Admin-login-form-1{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  #Admin-login-1-h6-1{
    font-family: var(--font2);
    font-size: 32px;
    font-weight: 600;
    color: var(--primarycolor);
  }
  
  #Admin-login-form-input-1{
    margin-top: 10px;
    width: 500px;
    font-family: var(--font3);
    padding: 10px;
font-size: 15px;
font-weight: 600;
border-radius: 30px;
  }
  
  #Admin-login-form-input-2{
    margin-top: 10px;
    width: 500px;
    font-family: var(--font3);
    padding: 10px;
font-size: 15px;
font-weight: 600;
border-radius: 30px;
  }
  
  #Admin-login-form-input-3{
    margin-top: 10px;
    width: 500px;
    font-family: var(--font3);
    padding: 10px;
font-size: 15px;
font-weight: 600;
border-radius: 30px;
  }
  
  #Admin-login-form-1-button{
    margin-top: 10px;
    border: none;
    background-color: var(--primarycolor);
    color: var(--bg-color1);
    font-family: var(--font2);
font-size: 18px;
font-weight: 600;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
  }
  
#Admin-login-form-1-p-a-href{
  font-family: var(--font2);
  font-size: 16px;
  font-weight: 500;
  color: var(--bg-color1);
}

#Admin-login-form-1-p-a-href-1{
  color: var(--primarycolor);
}


@media(max-width: 650px){
  #Admin-login-1{
    width: 500px;
  }

  #Admin-login-form-input-1{
    width: 400px;
  }
  
  #Admin-login-form-input-2{
    width: 400px;
  }
  
  #Admin-login-form-input-3{
    width: 400px;
  }

}

@media(max-width: 550px){
  #Admin-login-1{
    width: 400px;
  }

  #Admin-login-form-input-1{
    width: 300px;
  }
  
  #Admin-login-form-input-2{
    width: 300px;
  }
  
  #Admin-login-form-input-3{
    width: 300px;
  }

}

@media(max-width: 450px){
  #Admin-login-1{
    width: 300px;
  }

  #Admin-login-form-input-1{
    width: 200px;
  }
  
  #Admin-login-form-input-2{
    width: 200px;
  }
  
  #Admin-login-form-input-3{
    width: 200px;
  }

#Admin-login-h6-1 {
    font-family: var(--font2);
    font-size: 24px;
    font-weight: 600;
    color: var(--bg-color1);
}

}

@media(max-width: 350px){
  #Admin-login-1{
    width: 280px;
  }

  #Admin-login-form-input-1{
    width: 200px;
  }
  
  #Admin-login-form-input-2{
    width: 200px;
  }
  
  #Admin-login-form-input-3{
    width: 200px;
  }

#Admin-login-h6-1 {
    font-family: var(--font2);
    font-size: 20px;
    font-weight: 600;
    color: var(--bg-color1);
}

}

