

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root{
    --bg-color: rgb(51, 51, 51);
    --bg-color1: black;
    --primarycolor: #FFC515;
    --text-color: #858585;
    --text-color1: #FFFFFF;
    --font1: "Nunito", serif;
    --font2: "Heebo", serif;
    --font3: "EB Garamond", serif;
    --font4: "DM Sans", serif;
    --bg-color-2: #D9D9D999;
}



#productview{
    padding-top: 11vh;
 }

 @media(max-width: 1440px){
   #productview{
      padding-top: 9vh;
   }
 }
 
 @media(max-width: 769px){
    #productview{
        padding-top: 10vh;
    }
 }
 


/* section-1 */

#productview-section-1{
   padding-top: 100px;
   padding-bottom: 100px; 
}
 

#productview-section-1-div-1{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#productview-section-1-div-1-1-img{
    width: 400px;
    height: 300px;
}

#productview-section-1-div-1-2-1-p-1{
    font-family: var(--font1);
font-size: 18px;
font-weight: 600;
color: var(--bg-color1);
}

#productview-section-1-div-1-2-1-p-2{
    font-family: var(--font1);
font-size: 18px;
font-weight: 600;
color: var(--bg-color1);
}

#productview-section-1-div-1-2-1-p-3{
    font-family: var(--font4);
font-size: 13px;
font-weight: 400;
}


#productview-section-1-div-1-2-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

#productview-section-1-div-1-2-2-p-1{
    margin-bottom: 0px;
}

#productview-section-1-div-1-2-2-lplus{
    background-color: var(--primarycolor);
    border: none;
    padding-right: 6px;
    padding-bottom: 5px;
}

#productview-section-1-div-1-2-2-l-plus-qty{
    font-size: 20px;
    color: var(--text-color1);
}


#productview-section-1-div-1-2-2-p-1{
    font-family: var(--font1);
    font-size: 15px;
    font-weight: 600;
    color: var(--bg-color1);
}

#productview-section-1-div-1-2-2-minus{
    background-color: var(--primarycolor);
    border: none;
    padding-right: 6px;
    padding-bottom: 5px;
}

#productview-section-1-div-1-2-2-minus-qty{
    font-size: 20px;
    color: var(--text-color1);
}

#productview-section-1-div-1-2-3{
    margin-top: 30px;
}

#productview-section-1-div-1-2-3-button{
  border: none;
  background-color: var(--primarycolor);
  color: var(--text-color1);
  font-family: var(--font1);
  font-size: 15px;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

#productview-section-1-back-button{
    border: none;
    background-color: var(--primarycolor);
    color: var(--text-color1);
    font-family: var(--font1);
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

@media(max-width: 768px){
    #productview-section-1-div-1{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 425px){
    #productview-section-1-div-1-1-img{
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 325px){
    #productview-section-1-div-1-2{
        margin-left: 20px;
    }
}