@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
    --bg-color: rgb(51, 51, 51);
    --bg-color1: black;
    --primarycolor: #FFC515;
    --text-color: #858585;
    --text-color1: #FFFFFF;
    --font1: "Nunito", serif;
    --font2: "Heebo", serif;
    --font3: "EB Garamond", serif;
    --font4: "DM Sans", serif;
    --bg-color-2: #D9D9D999;
}



#adminhome{
    padding-top: 11vh;
 }

 @media(max-width: 1440px){
   #adminhome{
      padding-top: 9vh;
   }
 }
 
 @media(max-width: 769px){
    #adminhome{
        padding-top: 10vh;
    }
 }


 #adminhome-section-1{
   height: 30vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
    gap: 30px;
 }


 @media(max-width: 1440px){
   #adminhome-section-1{
      height: 10vh;
   }
 }

 @media(max-width: 600px){
   #adminhome-section-1{
  margin-top: 30px;
   }
 }
 
 #adminhome-section-1-div-1{
    background-color: var(--text-color1);
    width: 300px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(184,184,184,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(184,184,184,1);
    box-shadow: 0px 0px 5px 0px rgba(184,184,184,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
 }



 #adminhome-section-1-div-1-p-1{
    font-family: var(--font1);
    font-size: 20px;
    font-weight: 600;
    color: var(--primarycolor);
    margin-bottom: 0px;
 }

 #adminhome-section-1-div-1-p-2{
    font-family: var(--font1);
    font-size: 18px;
    font-weight: 600;
    color: var(--bg-color1);
    margin-bottom: 0px;
 }